h1, h2, h3, h4 {
	margin-top: 0;
}

.my-photo{
    margin: 46px auto 0;
height: 230px;
width: 225px;



}
.my-photo img{
    width: 100%;
    border-radius: 50%;
}

.self {
	padding-top:11px;
	margin-bottom:15px;
}

.self ul {
    padding-top: 10px;    
    padding-left: 0;
}


.self ul li.mail {
	background-image:url(../img/ico-mail.png);
}

.self ul li.tel {
	background-image:url(../img/ico-tel.png);
}
.self ul li.skype {
	background-image:url(../img/ico-skype.png);
}


.self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}


.container .row {
	margin-bottom: 60px;
}

.container h2 {
	    text-align: center;
	    margin-bottom: 40px;
}