@font-face {
    font-family: 'DS';
    src: url('../fonts/dsstyloc-webfont.eot');
    src: url('../fonts/dsstyloc-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/dsstyloc-webfont.woff') format('woff'),
    url('../fonts/dsstyloc-webfont.ttf') format('truetype'),
    url('../fonts/dsstyloc-webfont.svg#ds_stylocregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helios';
    src: url('../fonts/heliosc-webfont.eot');
    src: url('../fonts/heliosc-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heliosc-webfont.woff') format('woff'),
    url('../fonts/heliosc-webfont.ttf') format('truetype'),
    url('../fonts/heliosc-webfont.svg#helioscregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helios';
    src: url('../fonts/heliosc-bold-webfont.eot');
    src: url('../fonts/heliosc-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heliosc-bold-webfont.woff') format('woff'),
    url('../fonts/heliosc-bold-webfont.ttf') format('truetype'),
    url('../fonts/heliosc-bold-webfont.svg#helioscbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'helios';
    src: url('../fonts/heliosc-bolditalic-webfont.eot');
    src: url('../fonts/heliosc-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heliosc-bolditalic-webfont.woff') format('woff'),
    url('../fonts/heliosc-bolditalic-webfont.ttf') format('truetype'),
    url('../fonts/heliosc-bolditalic-webfont.svg#helioscbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'helios';
    src: url('../fonts/heliosc-italic-webfont.eot');
    src: url('../fonts/heliosc-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/heliosc-italic-webfont.woff') format('woff'),
    url('../fonts/heliosc-italic-webfont.ttf') format('truetype'),
    url('../fonts/heliosc-italic-webfont.svg#helioscitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'helios';
    src: url('../fonts/helioslightc-webfont.eot');
    src: url('../fonts/helioslightc-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helioslightc-webfont.woff') format('woff'),
    url('../fonts/helioslightc-webfont.ttf') format('truetype'),
    url('../fonts/helioslightc-webfont.svg#helioslightcregular') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'helios';
    src: url('../fonts/helioslightc-italic-webfont.eot');
    src: url('../fonts/helioslightc-italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helioslightc-italic-webfont.woff') format('woff'),
    url('../fonts/helioslightc-italic-webfont.ttf') format('truetype'),
    url('../fonts/helioslightc-italic-webfont.svg#helioslightcitalic') format('svg');
    font-weight: lighter;
    font-style: italic;
}


.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* IE6/7 support */
.clearfix {
    *zoom: 1;
}
body{
    background: #fff;
    font: 14px Tahoma, sans-serif;
    
}
header{
    height: 340px;
    background: url("../images/header_bg.jpg") no-repeat;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;

}
.h_main, .h_rasp, .h_shpora, .h_perem, .h_domash, .h_contacts{
    width: 100%;
    height:  100%;
}

.h_main{
    background: url("../images/bg_main.png") no-repeat;
}
.h_rasp{
    background: url("../images/bg_rasp.png") no-repeat;
}
.h_shpora{
    background: url("../images/bg_shpora.png") no-repeat;
}
.h_perem{
     background: url("../images/bg_perem.png") no-repeat;
 }
.h_domash{
    background: url("../images/bg_domash.png") no-repeat;
}
.h_contacts{
    background: url("../images/bg_contacts.png") no-repeat;
}

.g_wrap{
    width: 900px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
h1{
    font: lighter 50px 'helios', sans-serif;
    color: #006a44;
}
.h_link{
    font:lighter 22px 'Helios', sans-serif;
    position: absolute;
    top:74px;
    color:#fff;
    text-decoration: none;
}
.logo{
    color: #FFFFFF;
    display: block;
    font: 45px 'DS',sans-serif;
    padding-left: 95px;
    position: absolute;
    text-decoration: none;
    top: 130px;
}
.logo:before{
    background: url("../images/logo.png") no-repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    height: 120px;
    left: 0;
    position: absolute;
    width: 82px;
}
.main_wrapper{
    background: #fff;
    margin-top: -95px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    position: relative;

}
.m_sec{
    float: left;
    width: 508px;
margin: 0 40px;}
.r_side, .r_footer{
    float: right;
    width: 272px;
    margin: 0 0 0 40px;
}
.r_menu{
margin:46px 0 20px;;
}
.r_menu ul{
    list-style:none;
    margin: 0;
    padding: 0;
    position: relative;
}
.r_menu ul li a{
    font: lighter 20px/1.5em 'Helios', sans-serif;
    text-transform: uppercase;
    color:#a4a4a4;
    text-decoration: none;
}
.r_menu ul li:hover a, .r_menu ul li.current a{
    font-weight: bold;
}
.r_menu ul li.current a{
    color:#6c6c6c;
}
.r_menu ul li ul{
    display: none;
    background: #006a44;
    padding: 15px 12px;

}
.r_menu ul li:hover ul,
.r_menu ul li.current ul{
    display: block;
}

.r_menu ul ul li a,
.r_menu ul li:hover ul li a,
.r_menu ul li.current  ul li a{
    text-transform: none;
    color:#fff;
    font: normal 13px/25px Tahoma, sans-serif;
    text-decoration: underline;
}
.r_menu ul ul li:hover a,
.r_menu ul li:hover ul li:hover  a,
.r_menu ul li.current  ul li:hover  a{
    color: #aed6ad;
    text-decoration: none;
}
.r_menu ul ul ul{
    padding:0;
}
.r_menu ul ul ul li {
    padding-left: 12px;
    position: relative;
}
.r_menu ul ul ul li:hover a,
.r_menu ul li:hover ul ul li:hover  a,
.r_menu ul li.current ul ul li:hover  a{
    color: #fff;
    text-decoration: none;
}
.r_menu ul ul ul li:hover:before{
    background: url("../images/m_1.gif") no-repeat scroll 0 0 transparent;
    bottom: 8px;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    width: 12px;
}
.r_block{
    margin: 0 0 10px 0;
}
.r_block img{
    width: 100%;
}
.r_footer{
    position: relative;
    bottom: 20px;
    font: 12px Tahoma, sans-serif;
    color:#494949;
}
.r_footer p{
    margin: 10px 0;
    padding: 0;
}
.m_footer{
    background: #006a44;
    height: 12px;
}