@charset "UTF-8";
/* RESET */
/* ----------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
blockquote {
	border-left:3px solid #7b90b5;
	padding-left:8px;
	width:489px;
	margin-left:40px;
	float:right;
}

abbr, acronym {border-bottom:1px dashed #7b90b5;}

strong {font-weight: bold;}

small {font-size:70%;}

big {	font-size:1.2em;}
.clear {
	clear:both;
}


/* LAYOUT */
/* ----------------------------------------- */

body {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 1.5em;
	background:#fff;
}

a, a:visited, a:active {
	color:#7b90b5;
	text-decoration: none;
}

a:hover {
	color:#7b90b5;
	text-decoration: underline;
}

/* DOSSIER BACKGROUND */

#wrapper {
	width:960px;
	margin:0 auto;
	margin-bottom:100px;
}

.first-block, .next-block {
    display: block;
    height: 100%;
    position: relative;
	width:100%;
	clear: both;
}

.left{
float:left;
width:240px;
}
.right{
float:left;
margin:0 0 30px 30px;
width:680px;
} 

h1  {
    color: #1B4491;
    font-size: 24pt;
    margin-bottom: 20px;
}

h2 {
    color: #1B4491;
    font-size: 10pt;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    text-align: left;
}

p {
}

p img {
	float:right;
	margin-left:20px;
	padding-left:10px;
}

div.content {
	clear: both;
	padding:0;
	margin:0;
	overflow: hidden;
	display:block;
}

em {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	color:#777777;
	font-size:12px;
	display: block;
	padding-top:3px;
}

ul.skills {
	margin:0;
	padding:0;
	margin-left:20px;
	margin-top:-6px;
	list-style-type: none;
	
}

ul.skills li {
	margin:0;
	padding:0;
	list-style-image:url(../images/bullet.gif);
	padding-left:10px;
	margin-top:6px;
}

ul.works {
	margin:0;
	padding:0;
	width:100%;
	margin-left:0px;
	list-style-type: none;
	text-align:center;
}

ul.works li {
	margin:0;
	padding:0 10px;
	float:left;
}

ul.works li img {
	padding:4px;
	background-color:#fff;
	width:95px;
	height:95px;
	border:1px solid #bdc7da;
	margin-bottom:16px;
}

ul.works li img:hover {
	border:1px solid #1b4491;
	cursor: pointer;
}
.myfoto{
    border: 4px solid #1B4491;
    clear: both;
    display: block;
    height: 200px;
    margin: 10px 0 20px;
    overflow: hidden;
    position: relative;
}
.myfoto img{
    margin: 0;
    padding: 0;
    width: 100%;
}


/* контактная информация */

.self {
	padding-top:11px;
	margin-bottom:15px;
}

.self ul {
	padding-top: 10px;
}

.self ul li.ad {
	background-image:url(../images/ico-home.png);
}

.self ul li.mail {
	background-image:url(../images/ico-mail.png);
}

.self ul li.tel {
	background-image:url(../images/ico-tel.png);
}
.self ul li.skype {
	background-image:url(../images/ico-skype.png);
}


.self ul li {
	background-repeat: no-repeat;
	padding-left:26px;
	background-position: 0 .1em;
	height:25px;
	display:block;
	margin-top:-2px;
}

/* соцсети */

.social {
}

.social ul {
	list-style: none;
}

.social ul li {
	float:left;
	width:21px;
	height:24px;
	margin:0;
	padding:0;
	margin-left:6px;
}
.gallery {
display: block;
float:none;}

